/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 2rem;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .search-bar {
    margin-left: auto;
  }
  
  .search-bar form {
    display: flex;
  }
  
  .search-bar input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1rem;
  }
  
  .search-bar button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-bar button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Hero */
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: #eee;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .hero-image img {
    max-width: 100%;
  }
  
  .button {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  /* Products */
  .products {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
  }

  .product_image {
    width: 300px;
  }

  .filter {
    margin-right: 3rem;
  }
  
  .filter h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .filter label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .filter select {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .filter button[type="submit"] {
    padding: 1rem 2rem;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .filter button[type="submit"]:hover {
    background-color: #555;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin-left: auto
  }  